{% extends 'base.html' %} 
{% import 'macros.html' as macros %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %} 
  {{super()}}
  Bienvenido 
{% endblock title %} 

{% block content %}

  {% if username %}
    <h2>Bienvenido, {{username | capitalize}}</h2>
  {% endif %}

  {%if user_ip %}
    <h2>Bienvenido, tu IP es {{user_ip}}</h2>
  {% else %}
    <a href="{{url_for('index')}}">Ir a inicio</a>
  {%endif%}

  <ol>
    {% for todo in todos %}
        {{ macros.render_todo(todo)}}
    {% endfor %}
  </ol>

  <img src="{{url_for('static', filename='images/prod-1.jpg')}}" alt="image" srcset="">

{% endblock content %}

