{% extends 'base.html' %} 
{% import 'macros.html' as macros %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %} 
  {{super()}}
  Bienvenido 
{% endblock title %} 

{% block content %}

  {% if username %}
    <h2>Bienvenido, {{username | capitalize}}</h2>
  {% endif %}

  {%if user_ip %}
    <h2>Bienvenido, tu IP es {{user_ip}}</h2>
  {% else %}
    <a href="{{url_for('index')}}">Ir a inicio</a>
  {%endif%}

  <div class="container mb-4">
    <h2 class="text-center">Crear una tarea</h2>
    {{render_form(todo_form)}}
 </div>

  <ul class="list-group mb-4">
    {% for todo in todos %}
        {{ macros.render_todo(todo, delete_form, update_form)}}
    {% endfor %}
  </ul>



  <img src="{{url_for('static', filename='images/prod-1.jpg')}}" alt="image" srcset="">

{% endblock content %}

